theme: minima
markdown: kramdown

kramdown:
  input: GFM
  hard_wrap: false
  parse_block_html: true

title: Cognitive Declination Differences Between Men and Women
description: Analyzing the dataset that contains clinical assessment data for individuals potentially affected by Alzheimer's disease and related cognitive disorders; comparing between male and female. (Homework 06)
